

<div style="border: 2px dotted black; padding: 20px;">
    <h1> Host Application</h1>
    <div style="width: 100%; background-color: tomato; padding: 10px 0;">
        <a  routerLink='/'>Home</a> &#160;
        <a  routerLink='/mfe1'>Link to MFE 1</a> &#160;
        <a  routerLink='/mfe2'>Link to MFE 2</a> &#160;

    </div>
    <div style="padding: 10px 0;">
       Shared Number: {{service.getState}}
    </div>
    <button style="background-color: greenyellow; border: none; padding: 5px 20px; cursor: pointer; border-radius: 10px;" (click)="service.setState(service.getState + 1)">
        Add number
    </button>
    
    <router-outlet></router-outlet>
</div>